*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #111;
    font-family: Arial, Helvetica, sans-serif;
}

.row_poster {
    width: 100%;
    object-fit: contain;
    max-height: 200px;
    margin-right: 10px;
    transition: transform 450ms;
}

.row_posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px ;
}

.row_poster:hover {
    transform: scale(1.08);
}

.row_posters::-webkit-scrollbar{
    display: none;
}

.row_posterComingsoon{
    max-height: 300px;
}

.row_posterComingsoon:hover{
    transform: scale(1.10);
}

.row{
    color: white;
    margin-top: 30px;
}